.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--fon-color);
    
}
.footer .container {
display: flex;
align-items: baseline;
justify-content: center;
}

.address-list__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address {
    width: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.address-list__map {
    color: var(--text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-list__link {
    color: var(--desk-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-container {
    margin-right: 70px;
}

.footer-social-container {
    margin-right: 93px;
}

.footer-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.181;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.social-list__item {
    background: rgba(255, 255, 255, 0.1);
    fill: currentColor;
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__icon {
    fill: var(--text-color);
}