.header {
    max-width: 1600px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;

}

.header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

 .nav {
    display: flex;
    align-items: center;
}